* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
    padding: 50px 10px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

.geral {
  margin: 10px auto 50px;
  box-shadow: 0px 0px 2px #0005;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.geral__header {
  background-color: #341C92;
  padding: 20px 10px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .geral__header {
    flex-direction: column;
  }
}

.geral__titulo {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .geral__titulo {
    margin-bottom: 20px;
  }
}

.geral__titulo h1 {
  font-size: 1.875em;
}

@media only screen and (max-width: 480px) {
  .geral__titulo h1 {
    font-size: 1.5625em;
  }
}

.geral__analise p {
  font-size: 1.125em;
}

@media only screen and (max-width: 480px) {
  .geral__filtro {
    display: flex;
    overflow: scroll;
  }
}

.geral__btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.875em;
}

.geral__btn:hover {
  background-color: #0062CC;
  color: #fff;
}

.geral__btn.ativo {
  background-color: #0062CC;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .geral__btn {
    margin: 5px;
  }
}

.serie {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 20px 0;
}

@media only screen and (max-width: 768px) {
  .serie {
    grid-template-columns: 1fr;
  }
}

.serie__aside {
  border-right: 1px solid #ccc;
}

.serie__check {
  display: none;
  padding: 15px 30px;
  background-color: #341C92;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.125em;
}

@media only screen and (max-width: 768px) {
  .serie__check {
    display: block;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 768px) {
  .serie__menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
  .serie__menu.ativo {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}

.serie__menu li {
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-weight: bold;
}

.serie__menu li:hover {
  color: #fff;
  border-radius: 10px;
  background-color: #341C92;
}

.serie__menu li.ativo {
  color: #fff;
  background-color: #341C92;
  border-radius: 10px;
}

.serie#nono, .serie#medio {
  display: none;
}

.serie__conteudo {
  padding-top: 20px;
  overflow-y: scroll;
}

.serie__conteudo::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.serie__conteudo::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.serie__conteudo::-webkit-scrollbar-thumb {
  background: #0a4a8f;
  border-radius: 50px;
}

.serie__conteudo::-webkit-scrollbar-thumb:hover {
  background: #152a6a;
}

.serie__conteudo::-webkit-scrollbar-thumb:active {
  background: #4249ae;
}

.serie__conteudo::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.serie__conteudo::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

.serie__conteudo::-webkit-scrollbar-track:active {
  background: #ffffff;
}

.serie__conteudo::-webkit-scrollbar-corner {
  background: transparent;
}

.introducao__item {
  margin-bottom: 20px;
}

.introducao__titulo {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.introducao__titulo::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #341C92;
}

.introducao__titulo::after {
  content: '+';
  display: inline-block;
  margin-left: 10px;
  color: #341C92;
}

@media only screen and (max-width: 768px) {
  .introducao__titulo {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
}

.introducao__texto {
  display: none;
  margin: 20px 0;
  font-size: 16px;
}

.introducao__check {
  display: none;
}

.introducao__check:checked + .introducao__container .introducao__texto {
  display: block;
}

.introducao__check:checked + .introducao__container .introducao__titulo::after {
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 1.25em;
}

.introducao__tabela {
  border-collapse: collapse;
}

.introducao__tabela thead tr {
  background-color: #555;
  text-align: left;
  color: #fff;
}

.introducao__tabela thead tr th, .introducao__tabela tbody tr td {
  padding: 15px 10px;
}

.introducao__tabela tbody tr:nth-of-type(even) {
  background-color: #ddd;
}

.notas, .computadores, .livros, .biblioteca, .incentivopais, .escolaridademae, .escolaridadepai {
  display: none;
}

[data-anima] {
  opacity: 0;
  transition: .5s;
}

[data-anima].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-anima="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anima="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anima="up"] {
  transform: translate3d(0, -50px, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background-color: #341C92;
  padding: 10px 0;
}

@media only screen and (max-width: 480px) {
  .header {
    position: relative;
  }
}

.header .container {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .header .container {
    padding: 0 10px;
  }
}

.header__logo {
  color: #fff;
  font-size: 2.5em;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  display: none;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .header__btn {
    display: block;
  }
}

.header__btn button {
  display: block;
  width: 50px;
  height: 5px;
  border: none;
  background-color: #fff;
  outline: none;
  position: relative;
  border-radius: 5px;
  transition: .3s;
}

.header__btn::before, .header__btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  transition: .3s;
}

.header__btn::before {
  top: -15px;
}

.header__btn::after {
  bottom: -15px;
}

.header__btn.ativo button {
  transform: translateX(-100%);
  opacity: 0;
}

.header__btn.ativo::before {
  transform: rotate(45deg);
  top: 0;
}

.header__btn.ativo::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.header__menu {
  display: flex;
  transition: all .3s ease;
}

@media only screen and (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 66px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    left: 0;
    z-index: 10;
    background-color: #341C92;
  }
  .header__menu.ativo {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}

.header__link {
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
}

.header__link:hover {
  background-color: darkblue;
}

@media only screen and (max-width: 480px) {
  .header__link {
    border-top: 1px solid #fff;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 75vh;
  margin-bottom: 60px;
  background-color: #341C92;
}

@media only screen and (max-width: 480px) {
  .banner {
    padding: 100px 0;
  }
}

.banner .banner__titulo {
  font-size: 3.75em;
  color: #fff;
  border: 5px solid currentColor;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .banner .banner__titulo {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 480px) {
  .banner .banner__titulo {
    font-size: 1.875em;
    padding: 20px;
  }
}

.banner .banner__subtitulo {
  margin-top: 20px;
  color: #fff;
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  .banner .banner__subtitulo {
    font-size: 1.875em;
  }
}

@media only screen and (max-width: 480px) {
  .banner .banner__subtitulo {
    font-size: 1.5625em;
  }
}

.banner .banner__link {
  padding: 5px;
  background-color: #FFD600;
  position: absolute;
  bottom: 10px;
  font-size: 0.875em;
  font-weight: bold;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .banner .banner__link {
    margin: 0 10px;
  }
}

.acessados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .acessados {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .acessados {
    grid-template-columns: 1fr;
  }
}

.acessados .acessados__titulo {
  grid-column: 1/4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .acessados .acessados__titulo {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 480px) {
  .acessados .acessados__titulo {
    grid-column: 1;
  }
}

.acessados .acessados__item {
  background-color: #341C92;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  width: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  font-size: 1.25em;
  font-weight: 500;
}

@media only screen and (max-width: 480px) {
  .acessados .acessados__item {
    font-size: 1.125em;
    padding: 20px;
  }
}

.sobre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .sobre {
    grid-template-columns: 1fr;
  }
}

.sobre .sobre__texto p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  margin-bottom: 10px;
}

.quem-ganha {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  border-bottom: 2px solid #341C92;
}

@media only screen and (max-width: 768px) {
  .quem-ganha {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .quem-ganha {
    grid-template-columns: 1fr;
  }
}

.quem-ganha .quem-ganha__titulo {
  grid-column: 1/5;
  font-size: 2.25em;
  font-weight: 500;
  margin-bottom: 20px;
}

.quem-ganha .quem-ganha__titulo::after {
  content: '';
  display: block;
  width: 150px;
  height: 4px;
  margin: 10px 0;
  background-color: currentColor;
}

@media only screen and (max-width: 768px) {
  .quem-ganha .quem-ganha__titulo {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 480px) {
  .quem-ganha .quem-ganha__titulo {
    grid-column: 1;
  }
}

.quem-ganha .quem-ganha__item {
  background-color: #F6F5EB;
  border-radius: 10px;
  box-shadow: 0 0 5px #0006;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quem-ganha .quem-ganha__item p {
  background-color: #341C92;
  color: #fff;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  height: 100px;
}

@media only screen and (max-width: 480px) {
  .quem-ganha .quem-ganha__item {
    width: 80%;
    margin: 0 auto;
  }
}

.quem-ganha .quem-ganha__aviso {
  grid-column: 1/5;
  background-color: darkred;
  padding: 5px;
  font-size: 0.875em;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .quem-ganha .quem-ganha__aviso {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 480px) {
  .quem-ganha .quem-ganha__aviso {
    grid-column: 1;
  }
}

.painel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .painel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .painel {
    grid-template-columns: 1fr;
  }
}

.painel .painel__titulo, .painel p {
  grid-column: 1/4;
}

@media only screen and (max-width: 768px) {
  .painel .painel__titulo, .painel p {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 480px) {
  .painel .painel__titulo, .painel p {
    grid-column: 1;
  }
}

.painel .painel__titulo {
  font-size: 2.25em;
  font-weight: 500;
}

.painel .painel__titulo::after {
  content: '';
  display: block;
  width: 150px;
  height: 4px;
  margin-top: 10px;
  background-color: currentColor;
}

.painel p {
  font-size: 1.125em;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .painel .painel__item {
    width: 80%;
    margin: 0 auto;
  }
}

.trabalhando {
  background-color: #341C92;
}

.trabalhando__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .trabalhando__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .trabalhando__container {
    grid-template-columns: 1fr;
  }
}

.trabalhando__container .trabalhando__titulo {
  grid-column: 1/3;
  font-size: 2.25em;
  font-weight: 500;
  color: #fff;
}

.trabalhando__container .trabalhando__titulo::after {
  content: '';
  display: block;
  width: 150px;
  height: 4px;
  margin-top: 10px;
  background-color: currentColor;
}

@media only screen and (max-width: 480px) {
  .trabalhando__container .trabalhando__titulo {
    grid-column: 1;
  }
}

.trabalhando__container .trabalhando__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 0 5px #0005;
}

.trabalhando__container .trabalhando__item h3 {
  font-size: 1.5em;
  text-align: center;
}

.trabalhando__container .trabalhando__item h3::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  margin: 10px auto;
  background-color: #341C92;
}

.trabalhando__container .trabalhando__item p {
  line-height: 25px;
}

.trabalhando__container .trabalhando__item .trabalhando__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.trabalhando__container .trabalhando__item .trabalhando__links a {
  display: inline-block;
  margin: 0 10px;
}

.trabalhando__container .trabalhando__item .trabalhando__links a i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 4px solid #341C92;
  color: #341C92;
  font-size: 1.875em;
  width: 20px;
  height: 20px;
  padding: 30px;
  border-radius: 10px;
}

.footer {
  color: #fff;
  font-size: 1em;
  background-color: #341C92;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
