@import "_configs-gerais";
@import "_educacao";

body{
  font-family: $fonte;
}

.header{
  width: 100%;
  background-color: $cor-principal;
  padding: 10px 0;
  @include resp(m){
    position: relative;
  }
  .container{
    padding: 0;
    @include resp (t){
      padding: 0 10px;
    }
  }
}

.header__logo{
  color: $branco;
  font-size: em(40);
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn{
  display: none;
  @include resp(t){
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: em(20);
    cursor: pointer;
  }
}

.header__menu{
  display: flex;
  transition: all .3s ease;
  @include resp(m){
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 67px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    left: 0;
    z-index: 10;
    background-color: $cor-principal;
    &.ativo{
      height: auto;
      visibility: visible;
      opacity: 1;
    }
  }
  @include resp(t){
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 67px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    left: 0;
    z-index: 10;
    background-color: $cor-principal;
    &.ativo{
      height: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}

.header__link{
  color: $branco;
  font-weight: bold;
  padding: 15px 20px;
  &:hover{
    background-color: darkblue;
  }
  @include resp(m){
    border-top: 1px solid $branco;
  }
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 75vh;
  margin-bottom: 60px;
  background-color: $cor-principal;
  @include resp(m){
    padding: 100px 0;
  }
  .banner__titulo{
    font-size: em(60);
    color: $branco;
    border: 5px solid currentColor;
    padding: 30px;
    @include resp(t){
      font-size: em(40);
    }
    @include resp(m){
      font-size: em(30);
      padding: 20px;
    }
  }
  .banner__subtitulo{
    margin-top: 20px;
    color: $branco;
    font-size: em(40);
    @include resp(t){
      font-size: em(30);
    }
    @include resp(m){
      font-size: em(25);
    }
  }
  .banner__link{
    padding: 5px;
    background-color: #FFD600;
    position: absolute;
    bottom: 10px;
    font-size: em(14);
    font-weight: bold;
    border-radius: 5px;
    @include resp(t){
      margin: 0 10px;
    }
  }
}

//Mais acessados
.acessados{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  @include resp(t){
    grid-template-columns: repeat(2, 1fr);
  }
  @include resp(m){
    grid-template-columns: 1fr;
  }
  .acessados__titulo{
    grid-column: 1/4;
    font-family: $fonte;
    font-weight: 500;
    @include resp(t){
      grid-column: 1/3;
    }
    @include resp(m){
      grid-column: 1;
    }
  }
  .acessados__item{
    background-color: $cor-principal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $branco;
    font-weight: bold;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    font-size: em(20);
    font-weight: 500;
    @include resp(m){
      font-size: em(18);
      padding: 20px;
    }
  }
}

//sobre
.sobre{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  @include resp(t){
    grid-template-columns: 1fr;
  }
  .sobre__texto{
    p{
      font-family: $fonte;
      font-size: em(18);
      margin-bottom: 10px;
    }
  }
}

//quem ganha
.quem-ganha{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  border-bottom: 2px solid $cor-principal;
  @include resp(t){
    grid-template-columns: repeat(2, 1fr);
  }
  @include resp(m){
    grid-template-columns: 1fr;
  }
  .quem-ganha__titulo{
    grid-column: 1/5;
    font-size: em(36);
    font-weight: 500;
    margin-bottom: 20px;
    &::after{
      content: '';
      display: block;
      width: 150px;
      height: 4px;
      margin: 10px 0;
      background-color: currentColor;
    }
    @include resp(t){
      grid-column: 1/3;
    } 
    @include resp(m){
      grid-column: 1;
    }
}
  .quem-ganha__item{
    background-color: #F6F5EB;
    border-radius: 10px;
    box-shadow: 0 0 5px #0006;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      background-color: $cor-principal;
      color: $branco;
      padding: 0 10px;
      border-radius: 0 0 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 25px;
      height: 100px;
    }
    @include resp(m){
      width: 80%;
      margin: 0 auto;
    }
  }
  .quem-ganha__aviso{
    grid-column: 1/5;
    background-color: darkred;
    padding: 5px;
    font-size: em(14);
    font-weight: bold;
    color: $branco;
    border-radius: 5px;
    @include resp(t){
      grid-column: 1/3;
    }
    @include resp(m){
      grid-column: 1;
    }
  }
}

//painel de dados

.painel{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  @include resp(t){
    grid-template-columns: repeat(2, 1fr);
  }
  @include resp(m){
    grid-template-columns: 1fr;
  }
  .painel__titulo, p{
    grid-column: 1/4;
    @include resp(t){
      grid-column: 1/3;
    }
    @include resp(m){
      grid-column: 1;
    }
  }
  .painel__titulo{
    font-size: em(36);
    font-weight: 500;
    &::after{
      content: '';
      display: block;
      width: 150px;
      height: 4px;
      margin-top: 10px;
      background-color: currentColor;
    }
  }
  p{
    font-size: em(18);
    margin-bottom: 20px;
  }
  .painel__item{
    @include resp(m){
      width: 80%;
      margin: 0 auto;
    }
  }
}

// estamos trabalhando
.trabalhando{
  background-color: $cor-principal;
}
.trabalhando__container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  @include resp(t){
    grid-template-columns: repeat(2, 1fr);
  }
  @include resp(m){
    grid-template-columns: 1fr;
  }
  .trabalhando__titulo{
    grid-column: 1/3;
    font-size: em(36);
    font-weight: 500;
    color: $branco;
    &::after{
      content: '';
      display: block;
      width: 150px;
      height: 4px;
      margin-top: 10px;
      background-color: currentColor;
    }
    @include resp(m){
      grid-column: 1;
    }
  }
  .trabalhando__item{
    background-color: $branco;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 0 5px #0005;
    h3{
      font-size: em(24);
      text-align: center;
      &::after{
        content: '';
        display: block;
        width: 100px;
        height: 3px;
        margin: 10px auto;
        background-color: $cor-principal;
      }
    }
    p{
      line-height: 25px;
    }
    .trabalhando__links{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      a{
        display: inline-block;
        margin: 0 10px;
        i{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          border: 4px solid $cor-principal;
          color: $cor-principal;
          font-size: em(30);
          width: 20px;
          height: 20px;
          padding: 30px;
          border-radius: 10px;
        }
      } 
    }
  }
}

//footer
.footer{
  color: $branco;
  font-size: em(16);
  background-color: $cor-principal;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}